<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b08e6dd5-13ac-4659-b54f-2745133efeff/resourcegroups/rgCMPG323_Project_2_30776538/providers/Microsoft.Web/sites/Project2API20240808114800</ResourceId>
    <ResourceGroup>rgCMPG323_Project_2_30776538</ResourceGroup>
    <ApiResourceId>/subscriptions/b08e6dd5-13ac-4659-b54f-2745133efeff/resourceGroups/rgCMPG323_Project_2_30776538/providers/Microsoft.ApiManagement/service/Project2APIapi/apis/Project2API</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://project2api20240808114800.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>a1f55db3-407b-4492-9a24-d86e66875c60</ProjectGuid>
    <MSDeployServiceURL>project2api20240808114800.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Project2API20240808114800</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Project2API20240808114800</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>